.nav-icon {
    width: 24px;
    border: 1px solid #bfbfbf;
}

.dropdown-header {
    border-radius: 24px;
}

@media screen and (min-width: 1440px) {
    .scroll-header-animation {
        width: 144.81px;
        height: 64px;
    }
    .scroll-logo-animation {
        width: 90px;
        height: 38px;
    }
    .scroll-nav-animation {
        height: 56px;
        padding: 16px 48px;
        transform: translateX(50%) scale(0);
    }
    .scroll-nav-toggle-animation {
        transform: translateX(0) scale(1);
    }
    .scroll-hamburger-animation {
        display: flex;
    }
}
