.divine {
    border: 1px solid #302e31;
    box-shadow: -1px -1px 1px #414041, -2px -2px 1px #252426;
}

.inner-shadow {
    background: #302e31;
    opacity: 0.9;
    border-radius: 9999px;
    box-shadow: inset 0px 0px 7.05217px rgba(9, 8, 8, 0.7);
}
.outter-shadow-wrapper {
    filter: drop-shadow(-0.881521px -0.881521px 0.881521px #414041) drop-shadow(-1.76304px -1.76304px 1.76304px #252426)
        drop-shadow(inset -0.881521px -0.881521px 0.881521px #414041)
        drop-shadow(inset -1.76304px -1.76304px 1.76304px #262527);
}

.outter-shadow {
    /* grayscale/iron-gray */
    /* background: #302e31; */
    /* clip-path: circle(50% at 50% 50%); */
    box-shadow: -0.881521px -0.881521px 0.881521px #414041, -1.76304px -1.76304px 1.76304px #252426,
        inset -0.881521px -0.881521px 0.881521px #414041, inset -1.76304px -1.76304px 1.76304px #262527;
    border-radius: 50%;
}
.draw-circle {
    stroke-dasharray: 1570; /* 設定線條的總長度，這裡假設半徑為50，圓周長度為2 * π * r = 2 * 3.14 * 50 = 314 */
    stroke-dashoffset: 0; /* 設定線條的偏移量，初始值設為總長度，使線條隱藏起來 */
    animation: drawCircle 3s linear forwards; /* 使用動畫名稱、持續時間、動畫篡改函數、和動畫完成後狀態來定義動畫效果 */
}

@keyframes drawCircle {
    to {
        stroke-dashoffset: -1570; /* 設定線條的偏移量，終點值設為0，使線條完全畫出 */
    }
}

.about-bg-shadow {
    box-shadow: 4.99561px 6.24451px 14.9868px #212022, -4.99561px -4.99561px 14.9868px #343235;
    border-radius: 4px;
}

.contact-shadow {
    box-shadow: 2.25888px 2.82361px 6.77665px rgba(33, 32, 34, 0.3), -2.25888px -2.25888px 6.77665px #343235;
    border-radius: 3.61739px;
}

.border-arrow-wrapper {
    transform: scale(0);
    animation: expand 1s ease-in-out forwards;
}
.border-arrow {
    height: 1px;
    filter: drop-shadow(-1px -1px 1px #414041) drop-shadow(-2px -2px 1px #252426);
    /* width: 50px; */
}

.border-arrow-vertical {
    width: 1px;
    filter: drop-shadow(-1px -1px 1px #414041) drop-shadow(-2px -2px 1px #252426);
}

.border-arrow::after,
.border-arrow-vertical::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    top: -2px;
    right: -4px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.border-arrow::before,
.border-arrow-vertical::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    top: -2px;
    left: -4px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}

.expand-order-1 {
    animation-delay: 0;
}
.expand-order-2 {
    animation-name: expand-90;
    animation-delay: 0.5s;
}
.expand-order-3 {
    animation-delay: 1s;
}
.expand-order-4 {
    animation-name: expand-45;
    animation-delay: 1.5s;
}
.expand-order-5 {
    animation-delay: 2s;
}
.expand-order-6 {
    animation-name: expand-45;
    animation-delay: 2.5s;
}
.expand-order-7 {
    animation-name: expand-90;
    animation-delay: 3s;
}
.expand-order-8 {
    animation-name: expand-90;
    animation-delay: 3.5s;
}
.expand-order-9 {
    animation-delay: 4s;
}
.expand-order-10 {
    animation-delay: 5s;
}

@keyframes expand {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes expand-45 {
    0% {
        transform: rotate(-45deg) scale(0);
    }
    100% {
        transform: rotate(-45deg) scale(1);
    }
}

@keyframes expand-90 {
    0% {
        transform: rotate(90deg) scale(0);
    }
    100% {
        transform: rotate(90deg) scale(1);
    }
}
