.before-dec {
    position: absolute;
    width: 49.32px;
    height: 27.68px;
    border: 1px solid #e5ae00;
    border-radius: 39.72px;
}

.tablet-card-layout:nth-child(even) {
    position: relative;
    top: 40px;
}

.about-bg-gradient {
    background: linear-gradient(180deg, rgba(48, 46, 49, 0) 2.5%, #302e31 50%);
}

.decoration-rounded-triangle {
    fill: rgba(74, 72, 75, 1);
    stroke: rgba(74, 72, 75, 1);
    stroke-width: 10;
    filter: drop-shadow(-5px -5px 14.99px 0px rgba(52, 50, 53, 1), 5px 6.24px 14.99px 0px rgba(33, 32, 34, 1));
}
