@tailwind base;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-sans tracking-[.1em] font-thin;
    }

    h1 {
        font-size: 30px;
        line-height: 140%;
    }

    h2 {
        font-size: 22px;
        line-height: 150%;
    }

    h3 {
        font-size: 22px;
        line-height: 190%;
    }

    h4 {
        font-size: 20px;
        line-height: 170%;
    }

    h5 {
        font-size: 18px;
        line-height: 140%;
    }

    h6 {
        font-size: 16px;
        line-height: 140%;
    }
    ::-webkit-scrollbar {
        height: 2px;
        width: 10px;
        border-radius: 99px;
    }
    ::-webkit-scrollbar-track {
        height: 2px;
        background: rgba(191, 191, 191, 0.2);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(191, 191, 191, 1);
        height: 10px;
        border-radius: 99px;
        border: 1px solid rgba(191, 191, 191, 1);
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        margin-right: 24px;
    }

    @media screen(md) {
        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 24px;
        }

        h6 {
            font-size: 20px;
        }
        .custom-scrollbar::-webkit-scrollbar-track {
            margin: 0px 89px;
        }
    }

    @media screen(lg) {
        h1 {
            font-size: 56px;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 32px;
        }

        h4 {
            font-size: 28px;
        }
        .custom-scrollbar::-webkit-scrollbar-track {
            margin: 0 366.5px;
        }
    }
}

@tailwind components;

@layer components {
    /* typography */
    .display-1,
    .display-2,
    .nav-title,
    .body-1,
    .body-2,
    .body-3 {
        @apply font-sans font-thin tracking-[.1em];
    }

    .display-1 {
        font-size: 32px;
        line-height: 140%;
    }

    .display-2 {
        font-size: 36px;
        line-height: 140%;
    }

    .nav-title {
        font-size: 24px;
        line-height: 160%;
        font-weight: 400;
        letter-spacing: 0.2em;
    }

    .body-1 {
        font-size: 14px;
        line-height: 160%;
    }

    .body-2 {
        font-size: 15px;
        line-height: 210%;
        font-weight: 300;
    }

    .body-3 {
        font-size: 13px;
        line-height: 160%;
        font-weight: 400;
    }

    @media screen(md) {
        .display-1 {
            font-size: 48px;
        }

        .display-2 {
            font-size: 44px;
        }

        .nav-title {
            font-size: 32px;
        }

        .body-1 {
            font-size: 15px;
        }
    }

    @media screen(lg) {
        .display-1 {
            font-size: 64px;
        }

        .display-2 {
            font-size: 52px;
        }

        .nav-title {
            font-size: 15px;
        }
    }

    /* english typography */
    .en-h1,
    .en-h2,
    .en-h3,
    .en-h4,
    .en-body-1,
    .en-body-1-ag,
    .en-minimum {
        @apply font-ga tracking-[.1em];
    }

    .en-h1 {
        font-size: 36px;
        line-height: 140%;
    }

    .en-h2 {
        font-size: 22px;
        line-height: 170%;
    }

    .en-h3 {
        font-size: 24px;
        line-height: 120%;
    }

    .en-h4 {
        font-size: 16px;
        line-height: 170%;
    }

    .en-body-1 {
        font-size: 14px;
        line-height: 160%;
    }

    .en-body-1-ag {
        font-size: 15px;
        line-height: 160%;
    }

    .en-minimum {
        font-size: 12px;
        line-height: 160%;
    }

    @media screen(md) {
        .en-h1 {
            font-size: 48px;
        }

        .en-h2 {
            font-size: 30px;
        }

        .en-h3 {
            font-size: 26px;
        }

        .en-h4 {
            font-size: 18px;
        }

        .en-body-1 {
            font-size: 15px;
        }
    }

    @media screen(lg) {
        .en-h1 {
            font-size: 52px;
        }

        .en-h2 {
            font-size: 42px;
        }

        .en-h3 {
            font-size: 32px;
        }

        .en-h4 {
            font-size: 48px;
        }
    }

    /* shadow-effect */
    .card-shadow,
    .menu-shadow,
    .button-shadow-1,
    .button-shadow-2,
    .dec-shadow-1,
    .dec-shadow-2,
    .dec-shadow-3 {
        /* grayscale/dim-gray */
        border-radius: 8px;
        @apply bg-grayscale-dim;
    }

    .card-shadow {
        box-shadow: 4.99561px 5px 12px rgba(33, 32, 34, 0.3), -4.99561px -4.99561px 12px #343235;
    }

    .menu-shadow {
        box-shadow: 4px 4px 12px #212022, -4px -4px 12px #343235;
    }

    .button-shadow-1 {
        box-shadow: 4px 4px 12px -4px rgba(33, 32, 34, 0.3), -5px -5px 12px -4px rgba(81, 81, 81, 0.9);
    }

    .button-shadow-2 {
        box-shadow: 4px 4px 12px #212022, -4px -4px 12px #343235;
    }

    .dec-shadow-1 {
        box-shadow: 4px 4px 16px #212022, -4px -4px 16px #343235;
    }

    .dec-shadow-2 {
        box-shadow: 8px 8px 16px rgba(33, 32, 34, 0.1), -4px -4px 32px -4px #383639;
    }

    .dec-shadow-3 {
        box-shadow: 8px 8px 16px rgba(33, 32, 34, 0.1), -4px -4px 32px -4px #3d3b3f;
    }

    .dec-shadow-4 {
        @apply bg-grayscale-dim;
        box-shadow: 4.99561px 6.24451px 14.9868px #212022, -4.99561px -4.99561px 14.9868px #343235;
        border-radius: 4px;
    }
    .square-shadow-1 {
        box-shadow: -5px 0 15px rgba(52, 50, 53, 1), 5px 0 15px rgba(33, 32, 34, 1);
    }
}

@tailwind utilities;
